@font-face {
    font-family: "EmojiSymbols";
    src: url('font/EmojiSymbols-Regular.woff') format('woff');
    text-decoration: none;
    font-style: normal;
}

#content  {
    position: absolute;
    width: 400px;
    height: 480px;
    left: 50%;
    top: 50%;
    margin: -240px 0px 0px -200px;
}

#copy-text {
    width: 100%;
    height: 40px;
    text-align: center;
    position: absolute;
    font-size: 32px;
    color: #333;
    top: 0px;
}

span {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #333;
}

.emoji {
    font-family: "EmojiSymbols";
    font-size: 400px;
}

#emj {
    top: 40px;
}

#val {
    font-size: 40px;
    bottom: 0;
}
