/*
 * EmojiSymbols Font (c)blockworks - Kenichi Kaneko
 * http://emojisymbols.com/
 */
@font-face {
    font-family: "EmojiSymbols";
    src: url('font/EmojiSymbols-Regular.woff') format('woff');
    text-decoration: none;
    font-style: normal;
}

div.emoji-container {
    position: absolute;
    width: 200px;
    height: 220px;
    left: 50%;
    top: 50%;
    margin: -110px 0px 0px -100px;
}

span {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #333;
}

.emoji {
    font-family: "EmojiSymbols";
    font-size: 200px;
}

#emj {
    top: 0;
}

#val {
    font-size: 40px;
    bottom: 0;
}

#footer {
    bottom: 0;
    margin-bottom: 10px;
}

#footer h1, #footer h1 a:link, #footer h1 a:visited {
    text-align: center;
    font-size: 16px;
    color: #333;
}
